@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");

:root {
    --font-roboto: "Roboto Slab", serif;
}

body {
    font-family: var(--font-roboto);
    background-color: #212121;
    margin: 0;
}

.App-Container {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.name-text {
    margin-top: 0;
    color: rgb(219, 198, 238);
    font-size: 60px;
}

.icons {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.icon {
    margin: 10px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 70px;
    margin-right: 70px;
}

.icon-image {
    height: auto;
    width: 90px;
    transition: 200ms;
}

.icon-image:hover {
    opacity: 30%;
}

.icon-text {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000e1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window {
    width: clamp(50%, 700px, 90%);
    height: min(50%, 300px);
    margin: auto;
    padding: 0 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.motion-button {
    border: none;
    background-color: transparent;
}