@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");

:root {
    --font-roboto: "Roboto Slab", serif;
}

body {
    font-family: var(--font-roboto);
    background-color: #212121;
    margin: 0;
}

@keyframes fadeDownIn {
    100% {
        opacity: 1;
        transform: translateY(30px);
    }
}

@keyframes fadeIn {
    0% {
        z-index: 0;
        opacity: 0;
    }
    100% {
        opacity: 1;
        z-index: 2;
    }
}

@keyframes comeDown {
    100% {
        top: 100px;
    }
}

@keyframes comeUp {
    0% {
        top: 100px;
    }
    100% {
        top: -200px;
    }
}

.App-Container {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.About {
    z-index: 2;
    display: inline-block;
    position: fixed;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -200px;
    border-radius: 1px;
    border-color: white;
    padding: 3px;
    border-style: dashed;
}

.about-container {
    margin: auto;
}

.about-text{
    color: rgb(219, 198, 238);
    width: 200px;
}

.about-backArrow{
    width: 50px;
    margin-left: 150px;
    background-color: white;
    border-style: hidden;
    color: rgb(0, 0, 0);
}

.about-backArrow:hover{
    opacity: 30%;
}

.FadeIn {
    animation: comeDown 1s forwards ease;
}

.FadeOut {
    animation: comeUp 1s forwards ease;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.name-text {
    margin-top: 0;
    color: rgb(219, 198, 238);
    font-size: 70px;
    opacity: 0;
    animation: fadeDownIn ease 3s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.icons {
    display: flex;
    justify-content: center;
    font-size: 16px;
    z-index: 1;
}

.icon {
    opacity: 0;
    animation: fadeIn ease 3s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    margin: 10px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 70px;
    margin-right: 70px;
}


#github {
    animation-delay: 2000ms;
}

#linkedin {
    animation-delay: 2500ms;
}

#project {
    animation-delay: 3000ms;
}

#about {
    animation-delay: 3500ms;
}

.icon-image {
    height: auto;
    width: 90px;
    transition: 200ms;
}

.icon-image:hover {
    opacity: 30%;
}

.icon-text {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000e1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window {
    width: clamp(50%, 700px, 90%);
    height: min(50%, 300px);
    margin: auto;
    padding: 0 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.motion-button {
    border: none;
    background-color: transparent;
}

.purple-page {
    background-color: rgb(219, 198, 238);
    color: #212121;
    height: 100vh;
}

.about-title {
    padding: 10vh;
    font-size: 30px;
}

.about-body {
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 10vh;
    line-height: 2;
}

.gray-page {
    background-color: #212121;
    color: rgb(219, 198, 238);
    height: 100vh;
}